# files (e.g., logs, outputs, etc.)
# *.csv
# *.log
*.pth
*.pkl
*.pt

# Dummy data
**/dummy/

# Python cache
**/__pycache__/
**/hetddi/

# eda.ipynb
venv/
venv/*


# exception for the following files
!F2Cs.pkl